include .bumpversion.cfg
include .gitignore
include .pre-commit-config.yaml
include LICENSE
include Makefile
include README.md
include requirements/*
include src/fbsrankings/py.typed
include src/fbsrankings/fbsrankings.ini
recursive-include tests *.py
recursive-include tests/config *
recursive-include tests/coverage *
recursive-include tests/data *
recursive-include tests/output *
