include .bumpversion.cfg
include .gitignore
include .pre-commit-config.yaml
include LICENSE
include Makefile
include README.md
include requirements.txt
include requirements-dev.in
include requirements-dev.txt
include src/fbsrankings/py.typed
include src/fbsrankings/data/config.json
include src/fbsrankings/data/schema.json
recursive-include tests *.py
recursive-include tests/data *
