[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
typeguard = "*"
prettytable = "*"
tqdm = "*"
jsonschema = "*"

[packages]
bs4 = "*"
typing-extensions = "*"
html5lib = "*"
numpy = "*"

[requires]
python_version = "3.6"
